@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.form-choice button {
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  background-color: #782618;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease all;
  font-family: inherit;
  letter-spacing: 0.1em;
}

.form-choice button:hover {
  background-color: #9c3c3c;
  transform: translate(0px, -2px) scale(1.068);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
}

.form-container form {
  width: 60%;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

.form-group {
  width: 100%;
  margin: 1rem 0;
  border-radius: 5px;
  font-size: 1rem;
  position: relative;
  margin-bottom: 15px;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: #999;
  pointer-events: none;
  transition: 0.3s ease all;
  font-size: 1em;
}

.form-group input {
  display: block;
  width: 100%;
  height: 2.8em;
  border-radius: 5px;
  transition: 0.3s ease all;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-group input:focus {
  border-color: black;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  font-size: 12px;
  top: 18%;
}

.terms-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit-btn, .login-btn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--send-btn-color);
  border-radius: 25px;
  padding: 0.125rem 1rem;
  font-size: 1rem;
  color: white;
  line-height: 26px;
  font-family: inherit;
  letter-spacing: 0.1em;
  font-weight: 400;
  align-self: flex-end; /* Align buttons to the right */
}
h1 {
  text-align: center;
}
:root {
  --background-color: white;
  --send-btn-color: #782618;
}

body {
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
}

.login-form {
  display: none;
}

.bottom-form{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.p {
    color: white;
}